  <h4 *ngFor="let comment of post?.comments;  let i = index">
    <div style = "max-width: 40em; max-width: 30ch;"><b>{{ comment.author?.username }}</b> {{ comment.text }}<i (click)="deleteComment(post.id, comment.id)" class="fas fa-times delete-comment"></i></div>
  </h4>

<form class="comment-div" (keydown)="onSubmit(post?.id, $event)">
  <textarea class="post-area" placeholder="Add a comment..." name="{{ post?.id }}" id="{{ post?.id }}comment-area" value=""></textarea>
  <div class="clearfix"></div>
</form>
