<div id="myModal" class="modal fade" role="dialog" >
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <h1>New post</h1>
        <div>
          <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">
            <div>
              <input type="text" formControlName="title">
            </div>
            <div>
              <input type="file" name="media" (change)="onFileSelect($event)" />
            </div>
            <div>
              <button type="submit">Create</button>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
