<header class="tada-container">

  <nav class="menu-desktop menu-sticky">

    <div class="tada-search">
      <form>
        <div class="form-group-search">
          <input type="search" class="search-field" placeholder="Search and hit enter...">
          <button type="submit" class="search-btn"><i class="icon-search4"></i></button>
        </div>
      </form>
    </div>

  </nav>

</header>

<section class="tada-container content-posts blog-3-columns">

  <div class="content-area">

    <div class="content col-xs-4" *ngFor= "let post of posts">

      <article class="profile-images">
        <div class="profile-post-image">
          <img src="{{ post.location }}" alt="{{ post.title }}">
        </div>
      </article>

    </div>

  </div>

</section>
