<header class="tada-container">

  <nav class="menu-desktop menu-sticky">

    <div class="tada-search">
      <form>
        <div class="form-group-search">
          <input type="search" class="search-field" placeholder="Search and hit enter...">
          <button type="submit" class="search-btn"><i class="icon-search4"></i></button>
        </div>
      </form>
    </div>

  </nav>

</header>

<section class="tada-container content-posts blog-3-columns" style="display: flex; flex-direction: column;">

  <div class="header-content-area">

    <div class="content col-xs-4">
      <img src="assets/img/img-post-8.jpg" alt="logo">
    </div>

    <div class="content col-xs-8">
      <div class="profile">
        <h1>Xi-da-man</h1>
        <div class="profile-area profile-button">
          <span><button class="btn-default">Following</button></span>
          <span><button class="btn-default" style="width: 34px;"><i class="fas fa-caret-down"></i></button></span>
        </div>
      </div>
      <div class="profile">
        <ul>
          <li><b>{{ posts.length }}</b> posts</li>
          <li><b>{{ 21 }}</b> followers</li>
          <li><b>{{ 56 }}</b> following</li>
        </ul>
      </div>
      <div class="profile-bottom">
        <h3><b>Xi Ng Lee</b></h3>
        <p><a href="www.ng-lee.com">www.ng-lee.com</a></p>
        <a href="#">Followed by <span>jin_yang</span>, <span>pingpong</span>, <span>planet_stars</span> +11 more</a>
      </div>
    </div>

  </div>

  <div class="profile-content-area">

    <div class="content col-xs-4" *ngFor= "let post of posts">

      <article class="profile-images">
        <div class="profile-post-image">
          <img src="{{ post.location }}" alt="{{ post.title }}">
        </div>
      </article>

    </div>

  </div>
</section>
