
<app-create-post></app-create-post>
<section class="tada-container content-posts">

  <div class="content-area">

  <div class="content col-xs-8">

    <div *ngFor="let post of posts">
      <article *ngIf="post?.media.length">
        <div class="post-image">
          <img src="{{ post?.media[0]?.url }}" alt="{{ post.title }}">
        </div>
        <div class="post-text">
          <div id="icons">
            <p>
              <i class="far fa-heart fa-2x animated bounce" (click)="like(post, $event)"></i>
              &nbsp;
              <i class="far fa-comment fa-2x icon-comments animated bounce delay-1s"></i>
            </p>
          </div>
          <h4>{{ post.numOfLikes }} likes</h4>
          <h4><b>{{ post?.author }}</b> {{ post?.title }}</h4>
          <div *ngIf="post.comments.length > 0">
            <h4 class="text" *ngIf="post.comments.length > 2">View all {{ post.comments.length }} comments</h4>
            <h4 *ngFor="let comment of post.comments;  let i = index">
              <div *ngIf="i < 2"><b>{{ comment.author }}</b> {{ comment.text }}</div>
            </h4>
          </div>
          <span class="date">{{ post.posted_date | date | timeAgo }}</span>
        </div>
        <div class="post-info">
          <div class="post-by">Add a comment...</div>
          <div class="extra-info">
            Post
          </div>
          <div class="clearfix"></div>
        </div>
      </article>
    </div>

  </div>

  <div class="sidebar col-xs-4">

    <div class="widget latest-posts">
      <div class="container post-headers">
        <h3 class="col-xs-8 widget-title">Stories</h3>
        <h3 class="col-xs-4 widget-title-link"><a href="#">Watch All</a></h3>
      </div>
      <div class="posts-container">

        <div class="container post-headers">
          <div class="item col-xs-8 widget-title-left">
            <img src="assets/img/latest-posts-1.jpg" alt="post 1" class="post-image">
            <div class="info-post">
              <span><a href="#">Xi Jin Ping</a></span><br>
              <span class="text">1 HOUR AGO</span>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="item col-xs-8 widget-title-left">
            <img src="assets/img/latest-posts-1.jpg" alt="post 1" class="post-image">
            <div class="info-post">
              <span><a href="#">Svetlana Moldova</a></span><br>
              <span class="text">1.5 HOURS AGO</span>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="item col-xs-8 widget-title-left">
            <img src="assets/img/latest-posts-1.jpg" alt="post 1" class="post-image">
            <div class="info-post">
              <span><a href="#">Cristiano Ronaldo</a></span><br>
              <span class="text">3 HOURS AGO</span>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>

    <div class="widget latest-posts">

      <div class="container post-headers">
        <h3 class="col-xs-8 widget-title">Suggestions For You</h3>
        <h3 class="col-xs-4 widget-title-link"><a href="#">See All</a></h3>
      </div>

      <div class="posts-container">

        <div *ngFor= "let user of wtf">

          <div class="container post-headers">
            <div class="item col-xs-8 widget-title-left">
              <img src="assets/img/latest-posts-1.jpg" alt="post 1" class="post-image">
              <div class="info-post">
                <span><a href="user/{{user.username}}">{{user.username}}</a></span><br>
                <span class="text" *ngIf="user.is_following">Follows you</span>
              </div>
              <div class="clearfix"></div>
            </div>
            <h3 class="col-xs-4 widget-title-link widget-title-right follow" (click)="follow(user.username,$event)"><a>Follow</a></h3>
          </div>

        </div>

        <div class="clearfix"></div>
      </div>

    </div>

  </div>

  <div class="clearfix"></div>

  </div>

</section>
